In [69]:
from pyspark.sql import SparkSession

In [70]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MySQL_Data_Load") \
    .config("spark.jars", "jars/mysql-connector-j-9.5.0.jar") \
    .getOrCreate()

In [34]:
spark

In [71]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("myFiles/Mental_Health_and_Social_Media_Balance_Dataset.csv")

df.show(5)

+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
|User_ID|Age|Gender|Daily_Screen_Time(hrs)|Sleep_Quality(1-10)|Stress_Level(1-10)|Days_Without_Social_Media|Exercise_Frequency(week)|Social_Media_Platform|Happiness_Index(1-10)|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
|   U001| 44|  Male|                   3.1|                7.0|               6.0|                      2.0|                     5.0|             Facebook|                 10.0|
|   U002| 30| Other|                   5.1|                7.0|               8.0|                      5.0|                     3.0|             LinkedIn|                 10.0|
|   U003| 23| Other|                   7.4|                6.0|               7.0|                      1.0|                     3.0|              YouTube|                  6.0|
|   U004| 36|Female|                   5.7|                7.0|               8.0|                      1.0|                     1.0|               TikTok|                  8.0|
|   U005| 34|Female|                   7.0|                4.0|               7.0|                      5.0|                     1.0|          X (Twitter)|                  8.0|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
only showing top 5 rows

In [36]:
df = spark.read.csv("myFiles/Mental_Health_and_Social_Media_Balance_Dataset.csv", header=True, inferSchema=True)

In [37]:
df.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://host.docker.internal:3306/sparkdata") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "csv_table") \
    .option("user", "root") \
    .option("password", "04092000") \
    .mode("overwrite") \
    .save()

In [38]:
spark.sparkContext.getConf().get("spark.jars")

'jars/mysql-connector-j-9.5.0.jar'

In [7]:
df = spark.read.csv("myFiles/Mental_Health_and_Social_Media_Balance_Dataset.csv", header=True, inferSchema=True)
df.show(5)

+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
|User_ID|Age|Gender|Daily_Screen_Time(hrs)|Sleep_Quality(1-10)|Stress_Level(1-10)|Days_Without_Social_Media|Exercise_Frequency(week)|Social_Media_Platform|Happiness_Index(1-10)|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
|   U001| 44|  Male|                   3.1|                7.0|               6.0|                      2.0|                     5.0|             Facebook|                 10.0|
|   U002| 30| Other|                   5.1|                7.0|               8.0|                      5.0|                     3.0|             LinkedIn|                 10.0|
|   U003| 23| Other|                   7.4|                6.0|               7.0|                      1.0|                     3.0|              YouTube|                  6.0|
|   U004| 36|Female|                   5.7|                7.0|               8.0|                      1.0|                     1.0|               TikTok|                  8.0|
|   U005| 34|Female|                   7.0|                4.0|               7.0|                      5.0|                     1.0|          X (Twitter)|                  8.0|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
only showing top 5 rows

In [39]:
df.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://host.docker.internal:3306/sparkdata") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "csv_table") \
    .option("user", "root") \
    .option("password", "04092000") \
    .mode("overwrite") \
    .save()

In [40]:
import os

jar_path = "/home/jovyan/jars/mysql-connector-j-9.5.0.jar"

if os.path.exists(jar_path):
    print("JAR exists")
else:
    print("JAR NOT FOUND")

JAR exists

In [41]:
spark.sparkContext.addPyFile(jar_path)
spark._jsc.addJar(jar_path)

print("Loaded into Spark")

Loaded into Spark

In [42]:
print(spark.sparkContext.getConf().get("spark.jars"))

jars/mysql-connector-j-9.5.0.jar

In [43]:
jar_path = "/home/jovyan/jars/mysql-connector-j-9.5.0.jar"

spark.sparkContext.addPyFile(jar_path)
spark._jsc.addJar(jar_path)

print("JAR loaded successfully")

JAR loaded successfully

In [18]:
df.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://host.docker.internal:3306/sparkdata") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "csv_table") \
    .option("user", "root") \
    .option("password", "04092000") \
    .mode("overwrite") \
    .save()

In [13]:
df.filter(df.Age > 30).show()

+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
|User_ID|Age|Gender|Daily_Screen_Time(hrs)|Sleep_Quality(1-10)|Stress_Level(1-10)|Days_Without_Social_Media|Exercise_Frequency(week)|Social_Media_Platform|Happiness_Index(1-10)|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
|   U001| 44|  Male|                   3.1|                7.0|               6.0|                      2.0|                     5.0|             Facebook|                 10.0|
|   U004| 36|Female|                   5.7|                7.0|               8.0|                      1.0|                     1.0|               TikTok|                  8.0|
|   U005| 34|Female|                   7.0|                4.0|               7.0|                      5.0|                     1.0|          X (Twitter)|                  8.0|
|   U006| 38|  Male|                   6.6|                5.0|               7.0|                      4.0|                     3.0|             LinkedIn|                  8.0|
|   U009| 39|  Male|                   4.7|                7.0|               7.0|                      6.0|                     1.0|              YouTube|                  9.0|
|   U010| 39|Female|                   6.6|                6.0|               8.0|                      0.0|                     2.0|             Facebook|                  7.0|
|   U012| 37| Other|                   5.4|                5.0|               7.0|                      3.0|                     2.0|            Instagram|                  9.0|
|   U014| 39|Female|                   5.7|                5.0|               7.0|                      4.0|                     0.0|             Facebook|                  8.0|
|   U015| 45|  Male|                   6.3|                7.0|               7.0|                      4.0|                     3.0|          X (Twitter)|                  9.0|
|   U017| 36|Female|                   7.5|                5.0|               8.0|                      4.0|                     4.0|             Facebook|                  7.0|
|   U018| 48|  Male|                   5.4|                6.0|               4.0|                      3.0|                     4.0|               TikTok|                 10.0|
|   U020| 37|  Male|                   7.1|                6.0|               6.0|                      5.0|                     4.0|               TikTok|                 10.0|
|   U021| 40|Female|                   3.0|                8.0|               5.0|                      5.0|                     4.0|          X (Twitter)|                 10.0|
|   U022| 42| Other|                   6.4|                7.0|               6.0|                      5.0|                     3.0|               TikTok|                 10.0|
|   U023| 43|  Male|                   3.6|                8.0|               5.0|                      3.0|                     1.0|             Facebook|                  9.0|
|   U024| 31|Female|                   7.8|                5.0|               8.0|                      1.0|                     2.0|               TikTok|                  7.0|
|   U028| 36|Female|                   2.0|                8.0|               4.0|                      5.0|                     0.0|             Facebook|                 10.0|
|   U030| 33|  Male|                   7.4|                6.0|              10.0|                      3.0|                     4.0|            Instagram|                  8.0|
|   U032| 40|  Male|                   6.0|                6.0|               7.0|                      5.0|                     4.0|               TikTok|                  7.0|
|   U035| 41| Other|                   6.8|                8.0|               7.0|                      2.0|                     2.0|             LinkedIn|                  9.0|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+
only showing top 20 rows

In [44]:
df.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Daily_Screen_Time(hrs): double (nullable = true)
 |-- Sleep_Quality(1-10): double (nullable = true)
 |-- Stress_Level(1-10): double (nullable = true)
 |-- Days_Without_Social_Media: double (nullable = true)
 |-- Exercise_Frequency(week): double (nullable = true)
 |-- Social_Media_Platform: string (nullable = true)
 |-- Happiness_Index(1-10): double (nullable = true)

In [45]:
from pyspark.sql import Row

new_user = Row(
    User_ID="U002", Age=35, Gender="Female", Daily_Screen_Time=3.5, Sleep_Quality=7, 
    Stress_Level=4, Days_Without_Social_Media=15, Exercise_Frequency=1, 
    Social_Media_Platform="Instagram", Happiness_Index=8
)

# Convert to DataFrame
new_user_df = spark.createDataFrame([new_user])

# Union with existing df
df = df.union(new_user_df)

# Now write the updated df to MySQL
df.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://host.docker.internal:3306/sparkdata") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "csv_table") \
    .option("user", "root") \
    .option("password", "04092000") \
    .mode("overwrite") \
    .save()

### Create / Insert

In [46]:
new_user = Row(
    User_ID="U503", Age=18, Gender="Male", Daily_Screen_Time=5, Sleep_Quality=4, 
    Stress_Level=5, Days_Without_Social_Media=1, Exercise_Frequency=0, 
    Social_Media_Platform="Instagram", Happiness_Index=3
)

# Convert to DataFrame
new_user_df = spark.createDataFrame([new_user])

# Union with existing df
df = df.union(new_user_df)

# Now write the updated df to MySQL
df.write \
    .format("jdbc") \
    .option("url", "jdbc:mysql://host.docker.internal:3306/sparkdata") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "csv_table") \
    .option("user", "root") \
    .option("password", "04092000") \
    .mode("append") \
    .save()

###

In [47]:
from pyspark.sql.functions import *

In [48]:
df=df.withColumn(
    "Happiness_Index",
    when(col("User_ID") == "U002",8).otherwise(col("Happiness_Index(1-10)"))
)

df.write \
    .format("jdbc") \
    .option("url","jdbc:mysql://host.docker.internal:3306/sparkdata") \
    .option("driver","com.mysql.cj.jdbc.Driver") \
    .option("dbtable","csv_table") \
    .option("user","root") \
    .option("password" , "04092000") \
    .mode("overwrite") \
    .save()

### Delete

In [49]:
df=df.filter(col("User_ID")!="U503")

df.write \
    .format("jdbc") \
    .option("url","jdbc:mysql://host.docker.internal:3306/sparkdata") \
    .option("driver","com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "csv_table") \
    .option("user","root") \
    .option("password","04092000")\
    .mode("overwrite") \
    .save()

### Read

In [50]:
df.filter(col("Age")>30).show()

+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+
|User_ID|Age|Gender|Daily_Screen_Time(hrs)|Sleep_Quality(1-10)|Stress_Level(1-10)|Days_Without_Social_Media|Exercise_Frequency(week)|Social_Media_Platform|Happiness_Index(1-10)|Happiness_Index|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+
|   U001| 44|  Male|                   3.1|                7.0|               6.0|                      2.0|                     5.0|             Facebook|                 10.0|           10.0|
|   U004| 36|Female|                   5.7|                7.0|               8.0|                      1.0|                     1.0|               TikTok|                  8.0|            8.0|
|   U005| 34|Female|                   7.0|                4.0|               7.0|                      5.0|                     1.0|          X (Twitter)|                  8.0|            8.0|
|   U006| 38|  Male|                   6.6|                5.0|               7.0|                      4.0|                     3.0|             LinkedIn|                  8.0|            8.0|
|   U009| 39|  Male|                   4.7|                7.0|               7.0|                      6.0|                     1.0|              YouTube|                  9.0|            9.0|
|   U010| 39|Female|                   6.6|                6.0|               8.0|                      0.0|                     2.0|             Facebook|                  7.0|            7.0|
|   U012| 37| Other|                   5.4|                5.0|               7.0|                      3.0|                     2.0|            Instagram|                  9.0|            9.0|
|   U014| 39|Female|                   5.7|                5.0|               7.0|                      4.0|                     0.0|             Facebook|                  8.0|            8.0|
|   U015| 45|  Male|                   6.3|                7.0|               7.0|                      4.0|                     3.0|          X (Twitter)|                  9.0|            9.0|
|   U017| 36|Female|                   7.5|                5.0|               8.0|                      4.0|                     4.0|             Facebook|                  7.0|            7.0|
|   U018| 48|  Male|                   5.4|                6.0|               4.0|                      3.0|                     4.0|               TikTok|                 10.0|           10.0|
|   U020| 37|  Male|                   7.1|                6.0|               6.0|                      5.0|                     4.0|               TikTok|                 10.0|           10.0|
|   U021| 40|Female|                   3.0|                8.0|               5.0|                      5.0|                     4.0|          X (Twitter)|                 10.0|           10.0|
|   U022| 42| Other|                   6.4|                7.0|               6.0|                      5.0|                     3.0|               TikTok|                 10.0|           10.0|
|   U023| 43|  Male|                   3.6|                8.0|               5.0|                      3.0|                     1.0|             Facebook|                  9.0|            9.0|
|   U024| 31|Female|                   7.8|                5.0|               8.0|                      1.0|                     2.0|               TikTok|                  7.0|            7.0|
|   U028| 36|Female|                   2.0|                8.0|               4.0|                      5.0|                     0.0|             Facebook|                 10.0|           10.0|
|   U030| 33|  Male|                   7.4|                6.0|              10.0|                      3.0|                     4.0|            Instagram|                  8.0|            8.0|
|   U032| 40|  Male|                   6.0|                6.0|               7.0|                      5.0|                     4.0|               TikTok|                  7.0|            7.0|
|   U035| 41| Other|                   6.8|                8.0|               7.0|                      2.0|                     2.0|             LinkedIn|                  9.0|            9.0|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+
only showing top 20 rows

In [51]:
df.filter(col("User_ID")=="U002").show()

+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+
|User_ID|Age|Gender|Daily_Screen_Time(hrs)|Sleep_Quality(1-10)|Stress_Level(1-10)|Days_Without_Social_Media|Exercise_Frequency(week)|Social_Media_Platform|Happiness_Index(1-10)|Happiness_Index|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+
|   U002| 30| Other|                   5.1|                7.0|               8.0|                      5.0|                     3.0|             LinkedIn|                 10.0|            8.0|
|   U002| 35|Female|                   3.5|                7.0|               4.0|                     15.0|                     1.0|            Instagram|                  8.0|            8.0|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+

In [22]:
df.select("Age").show()

+---+
|Age|
+---+
| 44|
| 30|
| 23|
| 36|
| 34|
| 38|
| 26|
| 26|
| 39|
| 39|
| 18|
| 37|
| 17|
| 39|
| 45|
| 17|
| 36|
| 48|
| 27|
| 37|
+---+
only showing top 20 rows

In [52]:
df = df.dropDuplicates(["User_ID"])

In [53]:
df.filter(col("User_ID")=="U002").show()

+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+
|User_ID|Age|Gender|Daily_Screen_Time(hrs)|Sleep_Quality(1-10)|Stress_Level(1-10)|Days_Without_Social_Media|Exercise_Frequency(week)|Social_Media_Platform|Happiness_Index(1-10)|Happiness_Index|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+
|   U002| 30| Other|                   5.1|                7.0|               8.0|                      5.0|                     3.0|             LinkedIn|                 10.0|            8.0|
+-------+---+------+----------------------+-------------------+------------------+-------------------------+------------------------+---------------------+---------------------+---------------+

In [54]:
df.count()

500